<nav>

    <a href="/">Dashboard</a>

    <% if (!user) { %>

        <a href="/services">Services</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>

    <% } else if (user.role === "admin") { %>

        <a href="/patients">Patients</a>

        <a href="/admin/appointments">
            Manage Appointments
        </a>

        <a href="/admin/services">
            Manage Services
        </a>

        <a href="/admin">
            Admin Dashboard
        </a>

        <a href="/logout">Logout</a>

    <% } else { %>

        <a href="/appointments">
            My Appointments
        </a>

        <a href="/services">
            Services
        </a>

        <a href="/logout">
            Logout
        </a>

    <% } %>

</nav>